@model IEnumerable<Microsoft.WindowsAzure.MediaServices.Client.IFileInfo>

@{
    ViewBag.Title = "Media Services | Files";
}

@Html.RenderSubMenu("MediaServices")

<h3>Files</h3>

@Html.RenderGrid(Model, deleteAction: (item => Url.Action("FileDelete", new { fileid=item.Id })),
	otherAction: (item => Url.Action("FileDownload", new { fileid=item.Id })), otherActionText: "Download")
