@model IEnumerable<DevelopingWithWindowsAzure.Shared.Entities.Video>

@{
	ViewBag.Title = "Videos";
}

<p>
    @Html.ActionLink("Upload Video", "Upload", null, new { @class = "btn btn-primary" })
</p>

@Html.RenderGrid(Model, new List<string>() { "VideoID", "FileNameWithoutExtension", "Description", "VideoStatus" },
	deleteAction: (item => Url.Action("DeleteVideo", new { id=item.VideoID })))
